<CascadingValue Value="this">
    <div class="test menu">
        @foreach (TabChild child in Tabs)
        {
        <div  @onmouseout=@(() => ToggleTab(child)) @onmouseover=@( () => ToggleTab(child) )>
            <button type="button"
                    @onclick="child.OnClickCallback"
                    class="btn btn-secondary @GetActiveButtonClass(child)">
                @child.Text
            </button>
        </div>}
    </div>
    @ChildContent
</CascadingValue>

@code { [Parameter]
    public RenderFragment ChildContent { get; set; }

    public TabChild ActiveTab { get; set; }
    List<TabChild> Tabs = new List<TabChild>();

    internal void AddTab(TabChild tabChild)
    {
        Tabs.Add(tabChild);
        StateHasChanged();
    }

    string GetActiveButtonClass(TabChild child)
    {
        return child.ChildContent != null ? "dropdown-toggle" : "";
    }

    void ToggleTab(TabChild child)
    {
        ActiveTab = child;
    }}

